includes:
    - ./vendor/nunomaduro/larastan/extension.neon

rules:
    - App\Analysis\PHPStan\ClassConstantVisibilityRule

parameters:
    paths:
        - app
        - tests

    # The level 8 is the highest level
    level: 5

    ignoreErrors:
            - '#Illuminate\\Contracts\\Auth\\Authenticatable#'
            - '#Model::#'
    bootstrapFiles:
    #        - _ide_helper.php
    #        - _ide_helper_models.php

    excludePaths:
        - app/Providers/NovaServiceProvider.php
        - app/Nova/Resource.php
        - app/Http/Middleware/Authenticate.php
        - app/Nova/Actions/FlushUserSessionAction.php
        - app/Nova/Actions/PermitIpAction.php
        - app/Exceptions/Handler.php

    checkMissingIterableValueType: false
